In [23]:
library(data.table)
library(magrittr)
library(ggplot2)

$${DT[i, j, by = x]}$$

``DT[where, select | update, group-by] [having] [order by]``


* SQL-like syntax
* Probably most powerful feature
*  $i$ is row-select, $j$ is row-output
* `by =' allows for grouping

## Merging / Joins

* The merging in data.table is very similar to base R ``merge()`` function. 
* The only difference is ``data.table`` by default takes common key variable as a primary key to merge two datasets. 
* On the other hand ``data.frame`` takes common variable name as a primary key to merge the datasets.

1. Inner Join
2. Left Join
3. Right Join
4. Full Join

### Sample Data

In [27]:
(dt1 <- data.table(A = letters[rep(1:3, 2)], X = 1:6, key = "A"))
(dt2 <- data.table(A = letters[rep(2:4, 2)], Z = 6:1, key = "A"))
print(cbind(dt1,dt2))

   A X A Z
1: a 1 b 6
2: a 4 b 3
3: b 2 c 5
4: b 5 c 2
5: c 3 d 4
6: c 6 d 1

### Inner Join
It returns all the matching observations in both the datasets.

In [28]:
merge(dt1, dt2, by="A")

### Left Join

It returns all observations&nbsp;from the left dataset and the matched observations&nbsp;from the right dataset.<br />

In [29]:
merge(dt1, dt2, by="A", all.x = TRUE)

### Right Join

It returns all observations from the right dataset and the matched observations from the left dataset.

In [30]:
merge(dt1, dt2, by="A", all.y = TRUE)

## Full Join

It return all rows when there is a match in one of the datasets.

In [40]:
merge(dt1, dt2, all=TRUE)

### Merging Tables

Inspired by ``A[B]`` in base R (\texttt{A} matrix, \texttt{B} a 2-col matrix)

In [54]:
X <- data.table(a=1:10,b=2*1:10);
Y <- data.table(a=3*(1:10),c=2^(1:10))

In [55]:
# Indexing (Set Keys)
setkey(X,a)
setkey(Y,a)

In [58]:
X[Y] %>% print

     a  b    c
 1:  3  6    2
 2:  6 12    4
 3:  9 18    8
 4: 12 NA   16
 5: 15 NA   32
 6: 18 NA   64
 7: 21 NA  128
 8: 24 NA  256
 9: 27 NA  512
10: 30 NA 1024

In [59]:
Y[X] %>% print

     a  c  b
 1:  1 NA  2
 2:  2 NA  4
 3:  3  2  6
 4:  4 NA  8
 5:  5 NA 10
 6:  6  4 12
 7:  7 NA 14
 8:  8 NA 16
 9:  9  8 18
10: 10 NA 20

In [61]:
merge(X, Y) %>% print

   a  b c
1: 3  6 2
2: 6 12 4
3: 9 18 8

In [47]:
X <- data.table(grp = c("a","a","b","b","b","c","c"), foo = 1:7, key = 'grp');
X

In [48]:
Y <- data.table(c("b","c"), bar = c(4,2))
Y

In [53]:
X[Y] %>% print

   grp foo bar
1:   b   3   4
2:   b   4   4
3:   b   5   4
4:   c   6   2
5:   c   7   2

In [50]:
X[Y, sum(foo * bar)]

[1] 74

In [51]:
X[Y, list(val = sum(foo * bar))]

### Convert a data.table to data.frame

You can use <b>``setDF()``</b> function to accomplish this task.

In [52]:
setDF(mydata)

ERROR: Error in setDF(mydata): object 'mydata' not found


Similarly, you can use <b>``setDT()`` </b>function to convert data frame to data table.<br />

In [9]:
set.seed(1234)
X = data.frame(A=sample(3, 10, TRUE),
               B=sample(letters[1:3], 10, TRUE))

In [10]:
setDT(X, key = "A")

## Other Useful Functions

### Reshape Data

* It includes several useful functions which makes data cleaning easy and smooth. 
* To reshape or transpose data, you can use <b>dcast.data.table() </b>and <b>melt.data.table()</b> functions. 
* These functions are sourced from reshape2 package and make them efficient. 
* It also add some new features in these functions.

### Rolling Joins
It supports rolling joins. They are commonly used for analyzing time series data. A very R packages supports these kind of joins.